ssl_session_cache shared:SSL:10m;
ssl_session_timeout 1h;

ssl_protocols TLSv1.2 TLSv1.3;
ssl_prefer_server_ciphers off;

ssl_certificate /etc/certs/${TLS_CERT};
ssl_certificate_key /etc/certs/${TLS_CERT_KEY};

add_header Strict-Transport-Security "max-age=63072000" always;
